
<label for="username">
	<f:translate key="tx_beusermanager_domain_model_backenduser.username" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="username" /><br />
<label for="password">
	<f:translate key="tx_beusermanager_domain_model_backenduser.password" /> <span class="required">(required)</span>
</label><br />
	<f:form.password property="password" /><br />
<label for="realName">
	<f:translate key="tx_beusermanager_domain_model_backenduser.real_name" />
</label><br />
	<f:form.textfield property="realName" /><br />
<label for="email">
	<f:translate key="tx_beusermanager_domain_model_backenduser.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="description">
	<f:translate key="tx_beusermanager_domain_model_backenduser.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="admin">
	<f:translate key="tx_beusermanager_domain_model_backenduser.admin" />
</label><br />
	<f:form.checkbox property="admin" value="1" /><br />